flows.json
[
    {
        "id": "soc_ui_tab",
        "type": "ui_tab",
        "name": "SOC Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "soc_ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif",
                "edited": false
            },
            "customStyle": {
                "fontFamily": {
                    "name": "Roboto",
                    "url": "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
                }
            },
            "angularStateConfig": {
                "dark": true,
                "light": false
            }
        }
    },
    {
        "id": "soc_ui_group",
        "type": "ui_group",
        "name": "Monitoramento de Ameaças",
        "tab": "soc_ui_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "cyber_intel_http_in",
        "type": "http in",
        "z": "soc_ui_tab",
        "name": "CyberIntel Webhook",
        "url": "/cyber-intel",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "cyber_intel_response",
                "risk_logic"
            ]
        ]
    },
    {
        "id": "cyber_intel_response",
        "type": "http response",
        "z": "soc_ui_tab",
        "name": "Success Response",
        "statusCode": "200",
        "headers": {},
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "risk_logic",
        "type": "function",
        "z": "soc_ui_tab",
        "name": "Risk Calculator",
        "func": "let count = context.get('risk_count') || 0;\ncount++;\ncontext.set('risk_count', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "threat_gauge"
            ]
        ]
    },
    {
        "id": "threat_gauge",
        "z": "soc_ui_tab",
        "type": "ui_gauge",
        "name": "Nível de Risco",
        "group": "soc_ui_group",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Ameaças Críticas",
        "label": "CVEs",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "soc_ui_risk_legend",
        "z": "soc_ui_tab",
        "type": "ui_template",
        "group": "soc_ui_group",
        "name": "Legenda de Risco e Créditos",
        "order": 2,
        "width": 6,
        "height": 6,
        "format": "<div style=\"padding:8px 16px; font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;\">\n  <h3 style=\"margin-top:0; color:#00e6ff; text-align:center;\">Níveis de Risco – CyberIntel SOC</h3>\n  <table style=\"width:100%; border-collapse:collapse; font-size:13px;\">\n    <thead>\n      <tr style=\"background:#111;\">\n        <th style=\"border:1px solid #333; padding:4px;\">Faixa</th>\n        <th style=\"border:1px solid #333; padding:4px;\">Cor</th>\n        <th style=\"border:1px solid #333; padding:4px;\">Significado</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr>\n        <td style=\"border:1px solid #333; padding:4px;\">0 – 10</td>\n        <td style=\"border:1px solid #333; padding:4px; color:#00b500;\">Verde</td>\n        <td style=\"border:1px solid #333; padding:4px;\">Baixo – atividade normal de ameaças conhecidas.</td>\n      </tr>\n      <tr>\n        <td style=\"border:1px solid #333; padding:4px;\">10 – 30</td>\n        <td style=\"border:1px solid #333; padding:4px; color:#e6e600;\">Amarelo</td>\n        <td style=\"border:1px solid #333; padding:4px;\">Médio – volume elevado de alertas, requer acompanhamento.</td>\n      </tr>\n      <tr>\n        <td style=\"border:1px solid #333; padding:4px;\">30 – 50</td>\n        <td style=\"border:1px solid #333; padding:4px; color:#ca3838;\">Vermelho</td>\n        <td style=\"border:1px solid #333; padding:4px;\">Crítico – múltiplas ameaças relevantes ou exploração ativa.</td>\n      </tr>\n    </tbody>\n  </table>\n\n  <hr style=\"border-color:#222; margin:12px 0;\" />\n\n  <div style=\"font-size:12px; text-align:center;\">\n    <p style=\"margin:4px 0;\">Desenvolvido por <strong>Paulo Andr\u00e9 Carminati</strong></p>\n    <p style=\"margin:4px 0;\">\n      <a href=\"https://github.com/carmipa/projeto-cyberseguranca-bot-python\" target=\"_blank\" style=\"color:#58a6ff; text-decoration:none;\">Reposit\u00f3rio do Projeto</a>\n      &nbsp;|&nbsp;\n      <a href=\"https://github.com/carmipa\" target=\"_blank\" style=\"color:#58a6ff; text-decoration:none;\">Perfil GitHub</a>\n    </p>\n    <p style=\"margin:4px 0; opacity:0.8;\">CyberIntel SOC Bot \u2014 Threat Intelligence &amp; Active Defense</p>\n  </div>\n</div>",
        "storeOutMessages": True,
        "fwdInMessages": False,
        "resendOnRefresh": True,
        "templateScope": "local",
        "x": 520,
        "y": 220,
        "wires": [
            []
        ]
    }
]