flows.json
[
    {
        "id": "soc_ui_tab",
        "type": "ui_tab",
        "name": "SOC Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "soc_ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif",
                "edited": false
            },
            "customStyle": {
                "fontFamily": {
                    "name": "Roboto",
                    "url": "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
                }
            },
            "angularStateConfig": {
                "dark": true,
                "light": false
            }
        }
    },
    {
        "id": "soc_ui_group",
        "type": "ui_group",
        "name": "Monitoramento de Ameaças",
        "tab": "soc_ui_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cyber_intel_http_in",
        "type": "http in",
        "z": "soc_ui_tab",
        "name": "CyberIntel Webhook",
        "url": "/cyber-intel",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "cyber_intel_response",
                "risk_logic"
            ]
        ]
    },
    {
        "id": "cyber_intel_response",
        "type": "http response",
        "z": "soc_ui_tab",
        "name": "Success Response",
        "statusCode": "200",
        "headers": {},
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "risk_logic",
        "type": "function",
        "z": "soc_ui_tab",
        "name": "Risk Calculator",
        "func": "let count = context.get('risk_count') || 0;\ncount++;\ncontext.set('risk_count', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "threat_gauge"
            ]
        ]
    },
    {
        "id": "threat_gauge",
        "z": "soc_ui_tab",
        "type": "ui_gauge",
        "name": "Nível de Risco",
        "group": "soc_ui_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ameaças Críticas",
        "label": "CVEs",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "x": 500,
        "y": 140,
        "wires": []
    }
]